.hotkeyBarContainer {

    display: flex;
    justify-content: center;

    .hotkeyBar {
        padding-inline-start: 0px;
        list-style-type: none;
        width: auto;
        display: flex;
        pointer-events: all;
        position: absolute;
        margin: 0;
        top: var(--draggable-element-top-px);
        left: var(--draggable-element-left-px);
        
        &.draggable li {
            pointer-events: none;
        }

        li {
            margin: 0 2px;
            border: 1px solid gray;
            width: 32px;
            height: 32px;
            background-image: var(--hotkey-icon-bg-img);

            &::before {
                content: attr(data-id);
                color: white;
                margin-left: 2px;
                text-shadow: 1px 1px black;
            }
        
        }

    }
}
