@import './DialogueBox';
@import './HotkeyBar';
@import './Log';

.uiLayer {
    position: absolute;
    top: 1%;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    font-family: helvetica;
}